@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(138, 200, 211);
}

h1 {
    font-size: 2em;
    margin: 10px 0 20px;
}

#vehicleForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}

#vehicleForm>label {
    width: 80%;
    margin-bottom: 10px;
    font-size:1.1em;
}

#vehicleForm input {
    font-size: 1.2em;
}

#vehicleFormBtn {
    border: none;
    cursor: pointer;
    background-color: rgb(87, 170, 88);
    border-radius: 10px;
    font-size: 1.6em;
}

#vehiclesDiv {
    margin-top: 100px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vehicles {
    width: 100%;
    margin-bottom: 10px;
    border-radius:20px;
}

#vehicles td,
#vehicles th {
    text-align: center;
    border:2px solid #4472C4;
}

#vehicles th{
    background-color:#4472C4;
}

#vehicles tr{
    background-color:#B4C6E7;
}

#vehicles tr:nth-child(odd){
    background-color:#8EA9DB;
}

.trackVehicleBtn {
    cursor: pointer;
    color: rgb(72, 56, 213);
}

.deleteVehicleBtn {
    cursor: pointer;
    color: rgb(216, 55, 55)
}

.searchVehicleBtn{
    cursor:pointer;
}

#resetBtn {
    position: absolute;
    bottom: 0;
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 90, 90);
    border-radius: 10px;
    font-size: 1.2em;
}

#type {
    position: relative;
    font-family: Arial;
    width:90%;
    height:30px;
    font-size:1.2em;
}

#type select {
    display: none;
}

.select-selected {
    background-color: DodgerBlue;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}