/* Estilo do mapa tomtom do projeto */
body,
html {
    margin: 0;
    padding: 0;
}

#map {
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
}

.marker {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.marker i {
    font-size: 2em;
}
.marker:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    top: 18px;
    translate: -50%;
    rotate: 45deg;
    z-index: -1;
}

.car {
    background-color: purple;

}
.car:before {
    background-color: purple;
    
}
.car:after {
    color: black;
    position: absolute;
    text-align: center;
    bottom: 27px;
}

.bus {
    background-color: orange;
}
.bus:before {
    background-color: orange;
}
.bus:after {
    color: black;
    position: absolute;
    text-align: center;
    bottom: 27px;
}

.person {
    background-color: red;
}
.person:before {
    background-color: red;
}
.person:after {
    color: black;
    position: absolute;
    text-align: center;
    bottom: 27px;
}